<template>
    <div>
        <!-- <h1>{{ name }}</h1>
        <p>{{tasks[0]}}</p>
        <p>{{tasks[1]}}</p>
        <hr>
        <ComponentsAVue />
        <ComponentsBVue />
        <ComponentsCVue /> -->
        <p>{{firstName}} {{lastName}}</p>
        <p>{{fullName}}</p>
    </div>
</template>

<script>
// import ComponentsAVue from './ComponentsA.vue'
// import ComponentsBVue from './ComponentsB.vue'
// import ComponentsCVue from './ComponentsC.vue'
    export default {
        name:'GreetingMessage',
        // props:['first_name','lastName','fullName'],
        props:{ 
            firstName:String, 
            lastName:String , 
            fullName: {
                type:String,
                // default:'Unknow'
                required:false,
            }
        },
        components: {
            // ComponentsAVue,
            // ComponentsBVue,
            // ComponentsCVue,
        },
        data() {
            return {
                name: "Mark Zuckerberg",
                tasks:[
                    {id: 1 ,title: 'Buy some milk' , isFav:false}, 
                    {id: 2 ,title: 'Play Game' , isFav:false}, 
                ]
            }
        },
    }
</script>