<template>
  <div>
    <img src="./assets/logo.png" alt="">
    <!-- Static value -->
    <greeting-messageVue first-name="Mark" last-name="Zuckerberg" />
    <greeting-messageVue first-name="Elon" last-name="Musk" />
    <greeting-messageVue first-name="Bill" last-name="Gete" />
    <hr>
    <!-- Dynamic-value -->
    <greeting-message-vue :first-name="fname" v-bind:last-name="lname" />
    <greeting-message-vue v-bind:full-name="fullname" />

  </div>
</template>

<script>
import GreetingMessageVue from './components/GreetingMessage.vue'
  export default {
    name: 'App',
    data() {
      return {
        fname: 'jhon',
        lname: 'Doe',

      }
    },

    computed: {
      fullname() {
        return this.fname + " " + this.lname
    }
    },
    components: {
      GreetingMessageVue,
    },
  }
</script>

<style>
  #app{
    text-align: center
  }
</style>